@font-face {
    font-family: NotoSansLao;
    src: url(../font/NotoSansLao-Regular.ttf);
}

@font-face {
    font-family: TimesNewRoman;
    src: url(../font/TimesNewRoman-Regular.ttf);
}

:root {
    padding: 0;
    margin: 0;
    background: var(--background-color);
    --black-color: #000000;
    --white-color: #ffffff;
    --dark-color: #91cfb7;
    --light-color: #f0fff7;
    --grey-color: #8c8c8c;
    --blue-color: #059bff;
    --red-color: #ff3333;
    --green-color: #00ff00;
    --background-color: #f3f3f3;
    --lao-font: "NotoSansLao";
    --english-font: "TimesNewRoman";
}

body {
    font-family: var(--lao-font) !important;
}

/* Sidebar */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 18.75rem;
    background: var(--white-color);
    z-index: 999;
    transition: all 0.5s ease;
}

.sidebar.close {
    width: 5rem;
}

.sidebar .logo-details {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 2rem 0;
    transition: all 0.3s ease;
}

.sidebar .logo-details .icons {
    height: 2.5rem;
    display: none;
}

.sidebar.close .logo-details .icons {
    display: block;
}

.sidebar .logo-details .logo {
    height: 5rem;
}

.sidebar.close .logo-details .logo {
    display: none;
}

.sidebar .nav-links {
    height: 100%;
    padding: 2rem 0 9.375rem 0;
    overflow: auto;
}

.sidebar.close .nav-links {
    overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.5s ease;
}

.sidebar .nav-links li:hover {
    background: var(--light-color);
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li .category-menu {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebar .nav-links li i {
    height: 3.125rem;
    min-width: 5rem;
    text-align: center;
    line-height: 3.125rem;
    color: var(--black-color);
    font-size: 1.25rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar .nav-links li .category-menu i {
    height: 3.125rem;
    min-width: 5rem;
    text-align: center;
    line-height: 3.125rem;
    color: var(--black-color);
    font-size: 1.25rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
    display: none;
}

.sidebar .nav-links li a .link_name {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--black-color);
    transition: all 0.5s ease;
}

.sidebar.close .nav-links li a .link_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li .category-menu .link_name {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--black-color);
    transition: all 0.5s ease;
}

.sidebar.close .nav-links li .category-menu .link_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
    padding: 0.375rem 0.375rem 0.375rem 5rem;
    background: var(--light-color);
    display: none;
}

.sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    margin-top: 0;
    padding: 0.25rem 1.25rem;
    border-radius: 0 0.625rem 0.625rem 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}

.sidebar .nav-links li.showMenu .sub-menu {
    display: block;
}

.sidebar .nav-links li .sub-menu a {
    color: var(--black-color);
    font-size: 1.125rem;
    padding: 0.313rem 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
}

.sidebar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
    display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
    font-size: 1.25rem;
    opacity: 1;
    display: block;
}

.sidebar .nav-links li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 0.188rem 1.25rem 0.375rem 1rem;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
}

/* Home Section */

.home-section {
    position: relative;
    background: var(--background-color);
    height: 100%;
    left: 18.75rem;
    width: calc(100% - 18.75rem);
    transition: all 0.5s ease;
}

.sidebar.close~.home-section {
    left: 5rem;
    width: calc(100% - 5rem);
}

.home-section .home-content-top {
    display: flex;
    align-items: center;
    height: 3.75rem;
    top: 0;
    width: 100%;
    background: var(--white-color);
}

.home-section .home-content-top.sticky {
    position: fixed;
    top: 0;
    background: var(--white-color);
    z-index: 999;
}

.home-section .home-content-top .bx-menu {
    color: var(--black-color);
    font-size: 2.5rem;
}

.home-section .home-content-top .bx-menu {
    margin: 0 1rem;
    cursor: pointer;
}

.home-section .home-content-body {
    margin: 1rem;
}

/* Index */

.card {
    margin-bottom: 1rem;
}

.card-head-top {
    margin: 1rem 0;
    color: var(--grey-color);
    font-size: 1.25rem;
    font-weight: 500;
}

.card-body-content {
    margin-bottom: 2rem;
    color: var(--black-color);
    font-size: 2.5rem;
    font-weight: 500;
    font-family: var(--english-font);
    text-align: center;
    align-items: center;
    border-bottom: 0.063rem solid var(--background-color);
}

.card-body-content span {
    color: var(--black-color);
    font-size: 1.25rem;
    font-family: var(--lao-font);
}

.card-body-content-total p {
    color: var(--black-color);
    font-size: 1.25rem;
    font-family: var(--lao-font);
    margin-bottom: 0;
}

.card-body-content-total span {
    padding-left: 6rem;
    color: var(--black-color);
    font-size: 1.25rem;
    font-family: var(--english-font);
}

.card-body-content-button {
    text-align: end;
}

.card-body-content-button a button {
    align-items: center;
    justify-content: center;
    margin: 1rem 0 0 1rem;
    padding: 0.5rem 1.875rem;
    color: var(--white-color);
    background: var(--blue-color);
    border: none;
    border-radius: 0.625rem;
    font-size: 1.25rem;
}

.card-body-content-table {
    margin: 1rem 0;
}

.card-body-content-table table tbody td form a i {
    font-size: 1.25rem;
    color: var(--blue-color);
}

.card-body-content-table table tbody td form button {
    border: none;
    background: transparent;
    color: var(--red-color);
}

.table-english {
    font-family: var(--english-font);
}

.card-body-content-form {
    margin: 1rem 0;
    text-align: center;
}

.card-body-content-form form .row {
    margin-bottom: 1rem;
}

.card-body-content-form form .row label {
    text-align: end;
}

.card-body-content-form form button {
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 1rem;
    padding: 0.5rem 1.875rem;
    color: var(--white-color);
    background: var(--blue-color);
    border: none;
    border-radius: 0.625rem;
    font-size: 1.25rem;
}

.card-body-content-bar {
    margin: 1rem auto;
    height: 18.75rem;
    width: 37.5rem;
}

.card-body-content-donut {
    margin: 1rem auto;
    width: 18.75rem;
    height: 18.75rem;
}

/* Alert */
.alert-success {
    text-align: start;
    padding: 1rem;
    margin-bottom: 1rem;
    background: var(--green-color);
    border-radius: 1rem;
}

.alert-success strong {
    color: var(--black-text-color);
}

.alert-danger {
    text-align: start;
    padding: 1rem;
    margin-bottom: 1rem;
    background: var(--red-color);
    border-radius: 1rem;
}

.alert-danger strong {
    color: var(--black-text-color);
}

.close-alert-button {
    margin-left: 1rem;
    color: var(--white-text-color);
    font-weight: bold;
    float: right;
    font-size: 1.25rem;
    line-height: 1.25rem;
    cursor: pointer;
    transition: 0.3s;
}

.close-alert-button:hover {
    color: var(--black-text-color);
}

/* Error */

.errors {
    color: var(--red-color);
}
