@font-face {
    font-family: NotoSansLao;
    src: url(../font/NotoSansLao-Regular.ttf);
}

@font-face {
    font-family: TimesNewRoman;
    src: url(../font/TimesNewRoman-Regular.ttf);
}

:root {
    padding: 0;
    margin: 0;
    background: var(--background-color);
    --black-color: #000000;
    --white-color: #ffffff;
    --dark-color: #28635a;
    --light-color: #8ebaa8;
    --grey-color: #8c8c8c;
    --blue-color: #059bff;
    --red-color: #ff3333;
    --green-color: #00ff00;
    --background-color: #f3f3f3;
    --lao-font: "NotoSansLao";
    --english-font: "TimesNewRoman";
}

body {
    font-family: var(--lao-font) !important;
}



/* Index */

.card {
    margin-bottom: 1rem;
}

.card-head-top {
    margin: 1rem 0;
    color: var(--grey-color);
    font-size: 1.25rem;
    font-weight: 500;
}

.card-head-top2 {
    margin: 1rem 0 0.1rem 0;
    color: var(--grey-color);
    font-size: 1.25rem;
    font-weight: 500;
}

.card-body-content {
    margin-bottom: 2rem;
    color: var(--black-color);
    font-size: 2.5rem;
    font-weight: 500;
    font-family: var(--english-font);
    text-align: center;
    align-items: center;
    border-bottom: 0.063rem solid var(--background-color);
}

.card-body-content span {
    color: var(--black-color);
    font-size: 1.25rem;
    font-family: var(--lao-font);
}

.card-body-content-total p {
    color: var(--black-color);
    font-size: 1.25rem;
    font-family: var(--lao-font);
    margin-bottom: 0;
}

.card-body-content-total span {
    padding-left: 6rem;
    color: var(--black-color);
    font-size: 1.25rem;
    font-family: var(--english-font);
}

.card-body-content-button {
    text-align: end;
}

.card-body-content-button a button {
    align-items: center;
    justify-content: center;
    margin: 1rem 0 0 1rem;
    padding: 0.5rem 1.875rem;
    color: var(--white-color);
    background: var(--blue-color);
    border: none;
    border-radius: 0.625rem;
    font-size: 1.25rem;
}

.button-search {
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.875rem;
    color: var(--white-color);
    background: var(--blue-color);
    border: none;
    border-radius: 0.625rem;
    font-size: 1.25rem;
}

.button-print {
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.875rem;
    color: var(--white-color);
    background: var(--red-color);
    border: none;
    border-radius: 0.625rem;
    font-size: 1.25rem;
}

.card-body-content-search {
    margin: 1rem 0;
}

.card-body-content-table {
    margin: 1rem 0;
}

.card-body-content-table table tbody td form a {
    text-decoration: none;
}

.card-body-content-table table tbody td form a i {
    font-size: 1.25rem;
    color: var(--blue-color);
}

.card-body-content-table table tbody td form button {
    border: none;
    background: transparent;
    color: var(--red-color);
}

.table-english {
    font-family: var(--english-font);
}

.card-body-content-form {
    margin: 1rem 0;
}

.card-body-content-form form .row {
    margin-bottom: 1rem;
}

.card-body-content-form form .row label {
    text-align: end;
}

.card-body-content-form form .row button {
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 1rem;
    padding: 0.5rem 1.875rem;
    color: var(--white-color);
    background: var(--blue-color);
    border: none;
    border-radius: 0.625rem;
    font-size: 1.25rem;
    width: 12.5rem;
}

.card-body-content-form form .row a {
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 1rem;
    padding: 0.5rem 1.875rem;
    color: var(--white-color);
    background: var(--blue-color);
    border: none;
    border-radius: 0.625rem;
    font-size: 1.25rem;
}

.card-body-content-bar {
    margin: 1rem auto;
    width: 40.625rem;
}

.card-body-content-donut {
    margin: 1rem auto;
    width: 21.875rem;
}

/* Alert */
.alert-success {
    text-align: start;
    padding: 1rem;
    margin-bottom: 1rem;
    background: var(--green-color);
    border-radius: 1rem;
}

.alert-success strong {
    color: var(--black-text-color);
}

.alert-danger {
    text-align: start;
    padding: 1rem;
    margin-bottom: 1rem;
    background: var(--red-color);
    border-radius: 1rem;
}

.alert-danger strong {
    color: var(--black-text-color);
}

.close-alert-button {
    margin-left: 1rem;
    color: var(--white-text-color);
    font-weight: bold;
    float: right;
    font-size: 1.25rem;
    line-height: 1.25rem;
    cursor: pointer;
    transition: 0.3s;
}

.close-alert-button:hover {
    color: var(--black-text-color);
}

/* Error */

.errors {
    color: var(--red-color);
}

/* Print */
